<head>
  <style>
   table {
     border: 1px solid black;
     font-size: 2vw;
     border-spacing: 3px;
   }
   table tr td:nth-child(even) { background: #00ffff; }
   table tr td:nth-child(odd) { background: #aaffff; }

   table tr th:nth-child(even) { background: #00ffff; }
   table tr th:nth-child(odd) { background: #aaffff; }

   td { text-align: center; border-left: 1px solid black; }
   th { text-align: center; border-left: 1px solid black; }
   input { font-size: 2vw; }
   input[type='checkbox'] { width: 2vw; height: 2vw; }

   button { background-color: #eeee55; padding: 5px; }
   .button_visible { visibility:'visible'; opacity:1; transition: opacity 0s; }
   .button_fadeout { visibility:'hidden'; opacity:0; transition: opacity 1s; }
  </style>
</head>
<script>
 var kShowMaxRows = 17;
 var kEditingTimeout = 10000;  // Don't mess with form while editing is going on

 var keep_arrival_requesting = true;   // Don't update while anyway submitting

 // Editing: while the form is being edited, protect it from updates
 // coming from the NFC reader. So people can still tag in (and it shows
 // up in the recent-list) while a particular user is edited.
 // The visibility of the [Save] button indicates if editing is going on.
 var editing_timeout_handle;
 var is_editing = false;
 function setEditing(edit_flag) {
   var b = document.getElementById("submit-button");
   b.classList.remove(edit_flag ? "button_fadeout" : "button_visible");
   b.classList.add(edit_flag ? "button_visible" : "button_fadeout");
   b.disabled = !edit_flag;
   is_editing = edit_flag;
 }

 // Triggered by any of the form edit elements: if there is activity,
 // enable [Save] button.
 function InEditing() {
   setEditing(true);
   if (editing_timeout_handle != undefined) {
     clearTimeout(editing_timeout_handle);
   }
   editing_timeout_handle = setTimeout(function() { setEditing(false); },
                                       kEditingTimeout);
 }
</script>
<body bgcolor="#D8BCAB">
  <h1 align="center">Santa Clara University Maker Laboratory</h1>
  <form align="center" action="/update-user" name="update_user" id="update_user" method="post" onsubmit="{ keep_arrival_requesting=false; }">
    <input id="user_rfid" type="hidden" name="user_rfid"/>
    <table id="recent-table">
      <tr>
        <th>Name</th>
        <th>3D Printer</th>
        <th>Laser</th>
        <th>Vinyl</th>
        <th>CNC</th>
        <th>DrillPress</th>
        <th>Electronics</th>
        <th></th>
      </tr>
      <tr id="edit-row">
        <td><input id="user_name" type="text" size="30 "name="user_name" onclick="InEditing();" onkeydown="InEditing();"/></td>
        <td><input id="perm_printer3d" type="checkbox" name="perm_printer3d" onclick="InEditing();"/></td>
        <td><input id="perm_laser" type="checkbox" name="perm_laser" onclick="InEditing();"/></td>
        <td><input id="perm_vinyl" type="checkbox" name="perm_vinyl" onclick="InEditing();"/></td>
        <td><input id="perm_cnc" type="checkbox" name="perm_cnc" onclick="InEditing();"/></td>
        <td><input id="perm_drillpress" type="checkbox" name="perm_drillpress" onclick="InEditing();"/></td>
        <td><input id="perm_electronics" type="checkbox" name="perm_electronics" onclick="InEditing();"/></td>
        <td><button id="submit-button" type="submit" name="update" value="Update" style="font-size: 2vw;">&#x1F4BE; Save</button></td>
      </tr>
      <tr><td colspan="8" style="background:#aaffaa;">Recent</td></tr>
      <!-- the recent table starts here -->
    </table>
  </form>
  <script>
   function updateForm(obj) {
     if (is_editing) return;  // Don't update form while someone is editing
     if (obj.user_rfid == undefined) return;  // Before anyone tagged in.

     var rfid_field = document.getElementById("user_rfid");

     // If we're already editing the very same user, don't update.
     // It might be that we are in the middle of an editing session
     // with the [Save]-button already faded. If this is the same user
     // tagging in again, don't update the form.
     if (rfid_field.value == obj.user_rfid) return;

     // While updating, also remove focus (.blur()) from the
     // elements so that editing requires a deliberate click.
     rfid_field.value=obj.user_rfid;
     var user_field = document.getElementById("user_name");
     user_field.value=obj.user_name;
     user_field.blur();
     if (obj.user_name == "") {
       user_field.placeholder="New user " + obj.user_rfid;
     }

     // All the permissions come in json fields same name as ID
     for (key in obj) {
       if (key.startsWith("perm_")) {
         var checkbox = document.getElementById(key);
         checkbox.checked=obj[key];
         checkbox.blur();
       }
     }
   }

   function CheckText(val) {
     return (val != undefined && val) ? "✓" : " ";
   }
   function insertPermission(row, col_index, value) {
     row.insertCell(col_index).innerHTML = CheckText(value);
   }
   function updateRecentTable(obj) {
     if (obj.user_name == "") return;  // Don't add unknown users to history
     var table = document.getElementById("recent-table");
     var row = table.insertRow(3);  // First row after the form

     var name_cell = row.insertCell(0);
     name_cell.innerHTML = obj.user_name;
     name_cell.style = "text-align:left;";

     // TODO(hzeller): here we have to know exactly which column
     // contains which permission. Extract that from the table
     // first.
     insertPermission(row, 1, obj["perm_printer3d"]);
     insertPermission(row, 2, obj["perm_laser"]);
     insertPermission(row, 3, obj["perm_vinyl"]);
     insertPermission(row, 4, obj["perm_cnc"]);
     insertPermission(row, 5, obj["perm_drillpress"]);
     insertPermission(row, 6, obj["perm_electronics"]);

     var now = new Date();
     var time_col = row.insertCell(7);
     // TODO(hzeller): is there a date format in JS ?
     var minute_prefix = ":" + (now.getMinutes() < 10 ? "0" : "");
     time_col.innerHTML = now.getHours() + minute_prefix + now.getMinutes();

     // Only keep a limited number of rows to display
     while (table.rows.length > kShowMaxRows) {
       table.deleteRow(table.rows.length - 1);
     }
   }

   function fetchJsonAndProcess(url, fun) {
     var xmlhttp = new XMLHttpRequest();
     xmlhttp.onreadystatechange = function() {
       if (xmlhttp.readyState != 4) return;
       var str = xmlhttp.responseText;
       if(str == undefined || str == "") return;
       var user_data = JSON.parse(str);
       if (user_data == undefined) return;
       fun(user_data);
     }

     xmlhttp.open("GET", url, true);
     xmlhttp.send();
   }

   function updateArrival() {
     if (!keep_arrival_requesting) return;
     fetchJsonAndProcess("/arrival", function(user_data) {
       if (user_data.user_rfid != undefined) {
         updateForm(user_data);
         updateRecentTable(user_data);
       }

       updateArrival();  // Wait for next arrival
     });
   }

   function initialSet() {
     fetchJsonAndProcess("/last-user", function(user_data) {
       updateForm(user_data);
       updateArrival();
     })
   }

   setEditing(false);
   initialSet();  // On load, fetch last user seen.
  </script>
</body>
